/*
 * Globals
 */



/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

html body {
  color: #fff;
  /* background: #395555 !important; */
  font-family: 'Roboto Mono', monospace;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

/* Change background colors every minute */
.animate-me {
  -webkit-animation: bgcolorchange 60s infinite; /* Chrome, Safari, Opera */ 
  animation: 60s infinite bgcolorchange;
}
@keyframes bgcolorchange {
  0% {
    background-color: #395555;
  }
  25% {
    background-color: #974a44;
  }
  50% {
    background-color: #25274d;
  }
  75% {
    background-color: #644e5b;
  }
  100% {
    background-color: #395555;
  }
}
/* Chrome, Safari, Opera */
 @-webkit-keyframes bgcolorchange {
      0%   {background: #395555;}
      25%  {background: #974a44;}
      50%  {background: #25274d;}
      75%  {background: #644e5b;}
      100% {background: #395555;}
 }

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

img {
  display: center;
  max-width: 100%;
  height: 45%;
  border-radius: 0%;
}

h1 {
  font-size: 2.75rem;
  /* font-family: 'Averia Gruesa Libre', cursive; */
  font-family: 'Alegreya', serif;
  text-shadow: 2px 2px rgba(34, 34, 34, 0.741);
  letter-spacing: 0.13vw;
}


p {
  font-size: 1.1rem;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.1vw;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1.5px solid rgba(28, 27, 27, 0.752);
  transition: all 1s;
  padding: 1px;
}
a:hover {
  color: #fff;
  background-color: rgba(28, 27, 27, 0.814);
  border-bottom: none;
  border-radius: 4px;
}


