body {
    font-family: 'Nunito', sans-serif;
    background-color: #101831;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #dce4fd;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size: 20px 20px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 2.3em;
    font-weight: 900;
    color: #203162;
    letter-spacing: 2px;
    margin: 10px 10px 10px 0px;
}

header p {
    color: #203162;
    font-size: 1.05em;
    font-weight: 300;
    text-align: center;
    padding: 0% 9%;
    line-height:1.5em;
}

  
header p sup {
    vertical-align: super;
    font-size: 0.7em;
}

header a:link {
    text-decoration: underline; 
    color:inherit;
}
header a:active {
    text-decoration: none; 
    color:inherit;
}
header a:visited {
    text-decoration: none; 
    color:inherit
}
header a:hover {
    text-decoration: none; 
    color:#507cf7;
}

main {
    padding: 30px;
    flex-grow: 1;
}

section {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 0 auto;
}

.grid-item {
    background-color: rgba(220,228,253, 0.5);
    background-blend-mode: overlay;
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 25px 5px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 50px rgb(80,124,247, 1);
    background-color: rgba(255, 255, 255, 0.9);
}

.grid-item img {
    max-width: 100%;
    height: 5rem;
}

.grid-item p {
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    color: #18254a;
    text-shadow:
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
    margin: 20px 0;
}

.links {
    display: flex;
    gap: 30px;
}

.links a {
    text-decoration: none;
    color: #18254a;
    font-size: 1.1em;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #18254a;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.links a:hover {
    color: #fff;
    background-color: #507cf7;
}

footer {
    color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px 0;  /* Adds some vertical padding for better spacing */
}

/* Responsive Styles */
@media (max-width: 1300px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    header p {
        text-align: justify;
        padding: 0% 9%;
        line-height:1.3em;
    }
}

@media (max-width: 960px) {
    .grid {
        grid-template-columns: 1fr;
    }
    header h1 {
        font-size: 2em;
    }
    
}
